@model OyunTuru

<form method="post">

    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Oyun Türü Sil</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label>Oyun Türü Adı:</label>
            <input asp-for="Ad" disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Oyun Türü Sil</button>
        <a asp-controller="OyunTuru" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
            Oyun Türlerine Geri Dön
        </a>

    </div>



</form>
