@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:purple" class="display-4"><strong>Oyun Kiralama Online</strong></h1>
    <h1 style="color:purple"  class="display-4"><strong>COME 373 </strong></h1>
    <br/>
    <br />
    <p><img src="/img/home.jpg"</p>
    
</div>
