@{
    ViewData["Title"] = "İletişim Bilgileri :";
}

<div class="text-center">
    <br />
    <br />
    <h1 style="color:purple">@ViewData["Title"]</h1>

    <br/>
    <br/>
    <h3>Süzer sokak Kaya Apt. No:3</h3>
    <h3>Fatih İSTANBUL</h3>
    <h3>E-posta adresimiz:</h3>
    <h3><a href="mailto:test@gmail.com">test.iletişim@gmail.com</a></h3>
</div>